DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=password

REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP=wallet-group
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
KAFKA_DEFAULT_PARTITIONS=1
KAFKA_DEFAULT_REPLICATION=1

ELASTIC_SERVER=localhost:9200

EUREKA_SERVICE_URL=http://mwallet-eureka:8761/eureka